.call.participant {
	display: grid;
  grid-template-areas: 
    "call chat"
    "gallery chat"
    "cue cue";
  grid-template-columns: 1fr 250px;
  grid-template-rows: 1fr 100px 50px;
}

@media (max-width: 800px) {
  .call.participant {
    grid-template-areas: 
      "call call"
      "gallery chat"
      "cue cue";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px;   
  }
}

.call.participant .large-tiles {
  grid-area:  call;
  max-height: 100%;
  max-width: 100%;
}
