.tile {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
}

.tile .video-wrapper {
  /*background-color: #000000;*/
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile video {
  width: 100vw;
  max-width: 100%;
}

.tile.local video {
  transform: scale(-1, 1);
}

.tile.pip {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 10;
  box-shadow: 0px 0px 25px #000;
  width: 25vw !important;
  max-width: 200px;
}

.tile .overlay {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
}

.tile .corner {
  position: absolute;
  color: #ffffff;
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  margin: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 17px;
}
