.call.owner {
	display: grid;
  grid-template-areas: 
    "cue chat"
    "gallery chat";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr;
}

.call.owner .cue-controls {
  grid-area:  cue;
}

.call.owner .gallery {
  grid-area:  gallery;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 2vh 2vw;
}

.call.owner .gallery .participant {
	position: relative;
}

.call.owner .gallery .participant .tile {
	height: 100%;
}

.call.owner .gallery .participant .tile-controls {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}